$strongcolor: #7f3e1a;
$bgdropdowncolor: #ecc782;

/* General style */
body
{
    font-family: Arial, Helvetica, sans-serif;
}

[class^="col"]
{
    text-align: center;
}

/* Making the map responsive */
.map-responsive
{
  position:  relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
  }
}

/* Harmonizing strong items */
strong
{
    font-weight: 600;
    color: $strongcolor;
} 

/* Applying personal styles to components: cards */
.border-card
{
    border: 0.1rem solid $strongcolor;
    border-radius: 0.4rem;
}

.bg-dropdown
{
    background-color: $bgdropdowncolor;
}

/* Applying personal styles to components: buttons */
.btn:focus, .btn:active
{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-warning:focus, .btn-warning:active
{
    @extend .btn:focus;
}

.btn-success:focus, .btn-success:active
{
    @extend .btn:focus;
}

.btn-warning:hover
{
    background-color: #ffa700;
}

.button-success:hover
{
    background-color: #07673a;
}

/* Title */
h1
{
    font-size: 3rem;
    font-family: "Dancing Script", cursive; 
}